body
{
}
.edx
{
	padding-left:5px;
}
/*#edxid
{
	padding-left: 14px;
	padding-right: 20px;
}*/
/*Frameindeling*/
.onecolumn
{
	float:left; 
	width:99%;/*in de editor geeft men aan hoeveel kolommen men wil.*/
	padding-right:5px;
}
.twocolumn
{
	float:left;
	width:46%;
	padding-right:14px;
}
.threecolumn
{
	float:left; 
	width:30%;
	padding-right:14px;
}
.fourcolumn
{
	float:left; 
	width:22%;
	padding-right:14px;
}
.fivecolumn
{
	float:left; 
	width:17%;
	padding-right:14px;
}
.first_box
{
	clear: left;
	float: left;
	width: 300px;
	padding-right: 10px;
}
.second_box
{
	clear: right;
	float: right;
	width: 300px;
}
.nw_menu_container
{
	font-size:100% !important;
}
.nw_information_tekst_container
{
	width:100%;
}
.textDataTableFrame
{
	font-size:0.9em;
	}
	