.content_supp_zorgatlas
{
	width: 120px;
	position: absolute;
	top: 0px;
	left: 86%;
	margin-top: 10px;
	padding-top: 10px;
}
.content_supp_zorgatlas ul, .content_supp_zorgatlas ul li
{
	width: 100%;
}
.content_supp_zorgatlas .toolbox a
{
	width: 100% !important;
}

#zorgatlas_popups
{
	margin-left: auto;
	margin-right: auto;
}
#zorgatlas_popups .zorgatlas_file_dialog
{
	width: 956px;
	height: 500px;
	position: absolute;
	top: 30px;
	left: 100px;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
}
#zorgatlas_popups .zorgatlas_map_dialog
{
	width: 502px;
	height: 574px;
	position: absolute;
	top: 10px;
	left: 50%;
	z-index: 999;
}
#zorgatlas_popups .zorgatlas_map_dialog_lower
{
	top: 30px;
}
.zorgatlas_map_dialog_slider
{
	z-index: 400100;
	position: absolute;
	width: 66px;
	height: 34px;
	visibility: visible;
	top: 500px;
	left: 20px;
}
#zorgatlas_popups iframe
{
	border: 0px;
}
.zorgatlas_close
{
	position: absolute;
	right: 4px;
}
.zorgatlas_dialog
{
	padding-top: 0px !important;
	border-top: 0px;
}
.zorgatlas_crumb
{
	width: 80% !important;
}

.container.wide
{
	width: 1184px;
}
.nw_text_info_container_zorgatlas
{
	font-size: 1.0em;
	min-height: 16px !important;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
}
.nw_text_popup_container_zorgatlas
{
	font-size: 1.0em;
	min-height: 16px !important;
	padding-left: 1px;
	padding-right: 1px;
	background-color:#b2d7ee; 

}
.nw_text_popup_container_zorgatlas_border
{
		border:1px solid #007bc7;
}
#zorgatlas_messagebox
{
		background-color: #007bc7;
		position:absolute;
		z-index:2048;
}
#zorgatlas_label
{
	position:absolute;
	z-index:2048;
}
#zorgatlas_messagebox table
{
	width:auto;
}
.zorgatlas_map_info_background_first
{
	background-color: #b2d7ee;
}
.zorgatlas_map_info_background
{
	background-color: #d9ebf7;;
}
.zorgatlas_map_info_header
{
	background-color: #007bc7;
	color: White;
}
.nw_text_info_container_zorgatlas table
{
	margin:0px;
}
.zorgatlas_map_info_header_info
{
	background-color: #bddfef;
	font-weight: bold;
}
#clickAlert img
{
	margin-top:-20px;
}
.zorgatlas_close, .zorgatlas_map_info_header
{
	cursor:pointer;
}
	 #netwriter_popups .netwriter_popup
{
	left:116px;
}
.zorgatlas_dialog .content
{
	padding-left:0px;
}